{% extends '@SonataAdmin/CRUD/list_outer_rows_mosaic.html.twig' %}

{% block sonata_mosaic_background %}
    <div class="container">
        <img src="{{ object.logoUrl }}" alt="{{ object.headline }}" style="height: 7em; width: 7em;">
    </div>
{% endblock %}

{% block sonata_mosaic_hover_view %}
    <span class="mosaic-box-label label label-primary pull-right">#{{ admin.id(object) }}</span>
{% endblock %}
